@use "@/styles" as s;

.root {
  position: relative;
  width: 100%;
  display: flex;

  //border: 1px solid red;

  & :local {

    .wrapper {
      display: flex;
      flex-flow: column;
      height: 100%;
      margin: 0 auto;
      width: 100%;
      flex: 1;

      min-height: 100vh;


      //border: 1px solid red;
    }

    main {
      width: 100%;
      height: 100%;
      flex: 1;

      //border: 1px solid red;

    }
  }

}




































