

$sofia-pro-soft: 'SofiaProSoft', sans-serif;
$sofia-pro: 'SofiaPro',;
$gramatika: 'Gramatika', sans-serif;

//$font-size-base: 18px !default;

/*html{

  @media screen and (max-width: 1920px) {
    $font-size-base: 16px !global;

  }
  @media screen and (max-width: 1400px) {
    $font-size-base: 24px !global;;

  }
  @media screen and (max-width: 1200px) {
    $font-size-base: 12px !global;;
  }
}*/

